html {
  height: 100%;
}

body {
  display: flex;
  background-color: #ecf2f8;
  height: inherit;
  margin: 0;
  align-items: center;
  font-family: "Manrope";
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}

h2,
p {
  cursor: default;
}

.preview-main {
  background-color: white;
  margin: auto 10%;
  max-width: 750px;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.image-container {
  width: 40%;
  border-radius: 20px 0 0 20px;
}

.preview-image {
  object-fit: cover;
}

.preview-content {
  width: 60%;
  padding-bottom: 10px;
}

.title {
  font-size: 23px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin: 30px;
  line-height: 1.2em;
  word-spacing: 0.1em;
}

.main-text {
  margin: 0 30px;
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  word-spacing: 0.3em;
}

.preview-footer {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 55%;
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: center;
}

.footer-text-container span:first-child {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.footer-text-container span:last-child {
  color: hsl(214, 17%, 51%);
}

.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-button {
  background-color: hsl(210, 46%, 95%);
  width: 40%;
  height: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.share-icon {
  width: 40%;
  height: 40%;
  border-radius: unset;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.attribution {
  position: fixed;
  bottom: 15px;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.share-options {
  z-index: 99;
  background-color: hsl(217, 19%, 35%);
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr) repeat(2, 2fr);
}

.share-options span {
  justify-self: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.3em;
  margin-left: 30px;
  color: hsl(214, 17%, 51%);
}

.share-options img {
  width: 50%;
}

#pinterest {
  max-width: 24px;
  width: 30%;
}

.share-options__share-container {
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.share-options .share-button {
  margin-right: 30px;
  max-width: 35px;
}

@media screen and (max-width: 600px) {
  .preview-main {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .image-container {
    width: 100%;
    max-height: 300px;
    border-radius: 20px 20px 0 0;
  }

  .preview-content {
    width: 100%;
  }

  .title {
    font-size: 17px;
    margin: 30px 30px 20px 30px;
  }

  .share-options {
    right: 0;
    height: 80px;
  }

  .preview-footer {
    margin-top: 30px;
  }
}

@media screen and (min-width: 601px) {
  .title {
    font-size: 18px;
    margin: 30px 30px 15px 30px;
  }

  .image-container {
    width: 45%;
  }

  .main-text {
    line-height: 1.5em;
    margin: 0 30px 20px 30px;
  }

  .share-options {
    border-radius: 10px;
    width: 260px;
    height: 60px;
    right: unset;
    bottom: 90px;
    grid-template-columns: 3fr repeat(3, 1fr);
  }

  #pinterest {
    width: unset;
  }

  .share-options__share-container {
    display: none;
  }

  .share-options::after {
    content: "";
    border: 20px solid transparent;
    border-bottom: 0;
    border-top-color: hsl(217, 19%, 35%);
    z-index: 99;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 785px) {
  .share-options {
    width: 200px;
  }
}
